<table>
  <tr>
    <th>Product Name</th>
    <td><%= @medicine.product %></td>
  </tr>
  <tr>
    <th>Strength</th>
    <td><%= @medicine.strength %></td>
  </tr>
  <tr>
    <th>Dosage form</th>
    <td><%= @medicine.dosage_form %></td>
  </tr>
  <tr>
    <th>Approval number</th>
    <td><%= @medicine.approval_number %></td>
  </tr>
  <tr>
    <th>Approval date</th>
    <td><%= @medicine.approval_date %></td>
  </tr>
  <tr>
    <th>Category</th>
    <td><%= @medicine.category %></td>
  </tr>
  <tr>
    <th>Manufacture</th>
    <td><%= @medicine.manufacturer %></td>
  </tr>
</table>
